@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    /* border and padding will be included in the total width
    and height of the element. */
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}

body {
    /* inorder to center the container */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 100% view height */
    min-height: 100vh;
    background: #5E63BA;
}

.container {
    width: 850px;
    background: #fff;
    /* gap between hangman-box and
    game-box */
    gap: 70px;
    /* default flex-direction is horizontal */
    display: flex;
    /* top&bottom is 60px
    left&right is 40px */
    padding: 60px 40px;
    border-radius: 10px;
}

.hangman-box img {
    width: 270px;
}

.hangman-box h1 {
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    /* toUpperCase() */
    text-transform: uppercase;
}

.word-display {
    /* default flex-direction is horizontal */
    display: flex;
    /* remove all bullet points */
    list-style: none;
    /* gap between rows and columns */
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.word-display .letter {
    width: 28px;
    border-bottom: 3px solid #000;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.word-display .letter.guessed {
    /* it will inherit the background
    color of its immediate parent element
    in this case which is the game-box */
    border-color: transparent;
    /* top: -40px
    left&right is 0px
    bottom is 35px */
    margin: -40px 0 35px;
}

.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.game-box h4 b {
    font-weight: 600;
}

.game-box .guesses-text b {
    color: #ff0000;
}

.game-box .keyboard {
    /* center the keyboard */
    display: flex;
    justify-content: center;
    /* flex children can wrap unto multiple
    lines */
    flex-wrap: wrap;
    /* row and column spacing between
    the keyboard elements */
    gap: 5px;
    margin-top: 40px;
}

.keyboard button {
    /* allows us to perform calculations
    when specifying css property values.
    allows dynamic property values
    for different types of screen size */
    width: calc(100% / 9 - 5px);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #5E63BA;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    padding: 7px;
    border: none;
}

.keyboard button:hover {
    background: #8286c9;
}


/* this will overlay over the entire page */

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-modal .content {
    background: #fff;
    max-width: 420px;
    width: 100%;
}

.game-modal img {
    max-width: 130px;
}